<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PetPal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Controller.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ScheduledServicesActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceAvailActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity android:name=".ProductDetailsActivity" android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="petpal"
                    android:host="payment"
                    android:pathPrefix="/success" />
                <data
                    android:scheme="petpal"
                    android:host="payment"
                    android:pathPrefix="/cancel" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddressSelectionActivity"
            android:exported="false" />
        <activity android:name=".AddAddressActivity" android:exported="false" />
        <activity
            android:name=".GroomingAppointmentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="petpal"
                    android:host="appointment"
                    android:pathPrefix="/success" />
                <data
                    android:scheme="petpal"
                    android:host="appointment"
                    android:pathPrefix="/cancel" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VeterinaryAppointmentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="petpal"
                    android:host="appointment"
                    android:pathPrefix="/success" />
                <data
                    android:scheme="petpal"
                    android:host="appointment"
                    android:pathPrefix="/cancel" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".LikedProductsActivity" android:exported="false" />
        <activity android:name=".Controller.SettingsActivity" android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TermsActivity" android:exported="false" />
        <activity android:name=".PrivacyPolicyActivity" android:exported="false" />
        <activity android:name=".OrderDetailsActivity" android:exported="false" />
        <activity android:name=".HelpActivity" android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />
        <activity android:name=".FaqActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".NotificationActivity" android:exported="false" />
        <activity android:name=".WebViewActivity" android:exported="true" />

        <activity android:name=".ForgotPasswordStep1Activity"/>
        <activity android:name=".ForgotPasswordStep2Activity"/>
        <activity android:name=".ForgotPasswordStep3Activity"/>
        <activity android:name=".ReceiptActivity"/>

        <!-- Deep Link Configuration for Payment Success -->
        <activity
            android:name=".PaymentSuccessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="petpal"
                    android:host="payment"
                    android:pathPrefix="/success" />
            </intent-filter>
        </activity>
    </application>
</manifest>